[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

flask = "*"
requests = "*"
"e1839a8" = {path = ".", editable = true}
python-slugify = "*"
markdown = "*"
mdx-linkify = "*"


[dev-packages]

nodeenv = "*"


[requires]

python_version = "3.6"
