{% extends "layout.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-3 box-shadow">
                <img class="card-img-top"
                     alt="ICO cryptocurrency coin logo" style="padding:5px;height: auto; width: 100%; display: block;background-size: contain"
                     src="{{ entry.img_url_big }}"
                     data-holder-rendered="true">
                <div class="card-body">
                    <p class="card-text">{{ entry.title }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group2">
                            <a target="_telegram" href="https://t.me/{{ entry.username }}"class="btn btn-sm btn-outline-secondary">Join chat</a>
                        </div>
                        <small class="text-muted">{{ entry.participants_count }} members</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card mb-8 box-shadow">
                <div class="card-body">
                    <h2>How does this Group describe itself?</h2>
                    {{ entry.about | safe}}
                    <br/>
                    <h3>Stats</h3>
                    <canvas id="messages-historgram-chart" width="100%" height="50px"></canvas>
                    <br/>
                    <h3>This group's pinned message</h3>
                    <small class="text-muted">
                    {{ entry.pinnedMessage | safe}}
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
        <script>
var ctx = document.getElementById("messages-historgram-chart").getContext('2d');
var messagesHistorgramChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ entry.message_histogram.labels | safe}},
        datasets: [{
            label: 'Messages',
            data:{{ entry.message_histogram.counts }},
            borderWidth: 1,
            borderColor: '#007BFF',
            yAxisID: 'y-axis-left'
        },{
            label: 'Participants',
            data:{{ entry.message_histogram.participants }},
            borderWidth: 1,
            borderColor: '#7B00FF',
            yAxisID: 'y-axis-right'
        },
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                id: 'y-axis-left'
            },
            {
                ticks: {
                    beginAtZero:true
                },
                id: 'y-axis-right',
                position: 'right'
            }]
        }
    }
});
</script>
{% endblock %}