{% extends "layout.html" %}
{% block title %}Cryptocurrency Chat Ranking{% endblock %}

{% block body %}
    <table id="coinrank-table" class="display table table-striped2 table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th class="right">Members</th>
            <th class="right">Change 24h</th>
            <th class="right">Messages</th>
            <th class="right">Change 24h</th>
            <th class="right">Mood</th>
        </tr>
        </thead>
        <tbody>

        {% for group in groups %}
            <tr>
                <td data-order="{{ group.rank }}">{{ group.rank }}<br/><small>(<span class="{{ 'negative_change' if group.rank_change.startswith('-') else 'positive_change' }}">{{ group.rank_change }}</span>)</small></td>
                <td><img class="img-circle" src="{{ group.img_url }}"/><a href="{{ group.group_url }}">{{ group.title }}</a></td>
                <td class="right">{{ group.num_participants }}</td>
                <td class="right {{ 'negative_change' if group.delta_participants.startswith('-') else 'positive_change' }}">{{ group.delta_participants }}</td>
                <td class="right">{{ group.num_messages }}</td>
                <td class="right {{ 'negative_change' if group.delta_messages.startswith('-') else 'positive_change' }}">{{ group.delta_messages }}</td>
                <td data-order="{{ group.sentiment_today }}" class="right">
                    <i class="far {{ 'fa-thumbs-up' if group.sentiment_today >= 0 else 'fa-thumbs-down' }}"></i>
                    {% if group.sentiment_today > 0 and group.sentiment_today > group.global_sentiment_average %}
                      <i class="far fa-thumbs-up"></i>
                    {% endif %}
                </td>


            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}