html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 6rem;
    margin-bottom: 60px;
}

.positive_change {
    color: #093;
}

.negative_change {
    color: #d14836
}

.right {
    text-align: right
}

.img-circle {
    heiht: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    margin-right: 1em;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}